script(src="javascripts/index.js")

form.form#search(name="filters", action="/", onsubmit="search(event, 0)", method="GET", value="fit")
	fieldset
		.panel.panel-default
			.panel-heading Keresés
			.panel-body
				for it in filters
					label.mr-sm-2(for=it.name) #{it.label}
					br
					select.custom-select.mb-4.mr-sm-4.mb-sm-0(name=it.name)
						option(value=-1 selected=it.selected==-1) Válasszon...
						for it2, i in it.values
							option(value=i selected=i==it.selected) #{it2.name}
					br
				br
				input(type="submit" value="Keres")