include includes/head.pug
include includes/menu.pug

.container
	.row
		.col-md-3
			p.lead CarShop
			include includes/searchForm.pug
		.col-md-9
			.row.carousel-holder
				.col-md-12
					#carousel-example-generic.carousel.slide(data-ride='carousel')
						ol.carousel-indicators
							li.active(data-slide-to='0', data-target='#carousel-example-generic')
							li(data-slide-to='1', data-target='#carousel-example-generic')
							li(data-slide-to='2', data-target='#carousel-example-generic')
						.carousel-inner
							.item.active
								img.carouselImg.slide-image(src='http://www.eschervictoria.com/wp-content/uploads/2014/06/ESR-building-exterior.jpg', alt='')
							.item
								img.carouselImg.slide-image(src='http://www.eschervictoria.com/wp-content/uploads/2014/06/ESR-building-exterior.jpg', alt='')
							.item
								img.carouselImg.slide-image(src='http://www.eschervictoria.com/wp-content/uploads/2014/06/ESR-building-exterior.jpg', alt='')
						a.left.carousel-control(data-slide='prev', href='#carousel-example-generic')
							span.glyphicon.glyphicon-chevron-left
						a.right.carousel-control(data-slide='next', href='#carousel-example-generic')
							span.glyphicon.glyphicon-chevron-right
			.row
				if cars.length > 0
					for it in cars 
						.panel.panel-default
							.panel-body
									table.table-responsive.table-striped.table-hover.descriptionTable
										tbody
											tr
												th(style="width: 384px")
													img.img-rounded.carImg.card-img-top(src=it.imgUrl, alt='')
												td
														table
															tbody
																tr
																	th
																	td 
																		h4
																			a(href="/details?id=" + it.id) Megtekintés
																tr
																	th Tipus:
																	td #{it.mark} #{it.type}
																tr
																	th Állapot:
																	td #{it.state}
																tr
																	th Ára:
																	td #{it.price} Ft
																tr
																	th Rövid leírás:
																	td #{it.desc}
				else 
					.panel.panel-default
						.panel-body
							h1 Nem található eredmény!
.container.text-center
	nav(aria-label="Pagination")
		if cars.length > 0
				ul.pagination
					if page !== 0
						li.page-item
							a.page-link(onclick="window.search(event," + (page - 1) + ")")
								span.glyphicon.glyphicon-arrow-left(aria-hidden="true") 
								|  Előző
					li.page-item
						a.page-link() #{page}
					if isNext
						li.page-item
							a.page-link(onclick="window.search(event," + (page + 1) + ")") Következő 
								span.glyphicon.glyphicon-arrow-right(aria-hidden="true")

include includes/foot.pug